In [1]:
# Dependencies
import pandas as pd
import requests as req
import time
from bs4 import BeautifulSoup

In [2]:
# Import Splinter and set the chromedriver path
from splinter import Browser
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
# Visit the following URL
url = "https://redplanetscience.com/"
browser.visit(url)

In [4]:
html = browser.html

In [5]:
news_soup = BeautifulSoup(html, 'html.parser')

In [6]:
# Get the latest news title and its corresponding paragraph 
news_title = news_soup.find_all('div', class_='content_title')[0].text
news_p = news_soup.find_all('div', class_='article_teaser_body')[0].text

In [7]:
print(news_title)
print("--------------------------------------------------------------------")
print(news_p)

Newfound Martian Aurora Actually the Most Common; Sheds Light on Mars' Changing Climate
--------------------------------------------------------------------
A type of Martian aurora first identified by NASA’s MAVEN spacecraft in 2016 is actually the most common form of aurora occurring on the Red Planet, according to new results from the mission.

In [8]:
print('----------- Jet Propulsion Laboratory featured Mars Image -------------')

----------- Jet Propulsion Laboratory featured Mars Image -------------

In [9]:
# Scrape the Mars Image
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [10]:
# Use Splinter to Click Button with the tag button
full_image_button = browser.find_by_tag("button")[1]
full_image_button.click()

In [11]:
# Parse HTML object with Beautiful Soup
html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')

In [12]:
# Find the tag and class that contains this specific image 
feature_img_url_path = img_soup.find('img', class_='headerimage').get('src')
feature_img_url_path

'image/featured/mars2.jpg'

In [13]:
# Use the base url to create an absolute url
featured_image_url = f'https://spaceimages-mars.com/{feature_img_url_path}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

##### Mars Facts

In [14]:
# The Mars facts site
url = 'https://galaxyfacts-mars.com/'

In [15]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
mars_df = tables[1]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
mars_df.columns=["Mars Description", "Value"]
mars_df

       Mars Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
mars_df.set_index('Mars Description', inplace=True)
mars_df

                                              Value
Mars Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [19]:
# Convert the data to html
html_table = mars_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Mars Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [20]:
# Convert to dictionary
mars_df.to_dict()

{'Value': {'Equatorial Diameter:': '6,792 km',
  'Polar Diameter:': '6,752 km',
  'Mass:': '6.39 × 10^23 kg (0.11 Earths)',
  'Moons:': '2 ( Phobos & Deimos )',
  'Orbit Distance:': '227,943,824 km (1.38 AU)',
  'Orbit Period:': '687 days (1.9 years)',
  'Surface Temperature:': '-87 to -5 °C',
  'First Record:': '2nd millennium BC',
  'Recorded By:': 'Egyptian astronomers'}}

In [21]:
browser.quit()

##### Mars Hemispheres

In [22]:
# Let's setup splinter  
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [23]:
# Visit Mars hemispheres 
mars_hemispheres_url = 'https://marshemispheres.com/'
browser.visit(mars_hemispheres_url)

In [24]:
# HTML Object
html_hemispheres = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html_hemispheres, 'html.parser')

# Retreive all 4 items about mars hemispheres
items = soup.find_all('div', class_='item')

# The list for hemisphere urls 
the_hemisphere_image_urls = []
hemispheres_main_url = 'https://marshemispheres.com/'

# Loop through the items
for i in items: 
    # Get the title
    title = i.find('h3').text
    
    # We need to build the link to the full image website. We already have the
    # main url namely https://marshemispheres.com/ but need to build on this.
    # In other words get the "cerberus.html" part for the first of the four items.
    # This will be appended to the main url to build the full image website
    # https://marshemispheres.com/cerberus.html in the first item is an example.
    build_img_url = i.find('a', class_='itemLink product-item')['href']
    
    # Now visit the full image website 
    browser.visit(hemispheres_main_url + build_img_url)
    
    # HTML Object of individual hemisphere information website 
    build_img_html = browser.html
    
    # Parse HTML object with Beautiful Soup
    soup = BeautifulSoup( build_img_html, 'html.parser')
    
    # Get the full image source 
    img_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']
    
    # Append to create the list of dictionaries 
    the_hemisphere_image_urls.append({"title" : title, "img_url" : img_url})
    
# Now that processing has been completed let us see the_hemisphere_image_urls
the_hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]